/*Smooth scrolling*/
:root {
	scroll-behavior: smooth;
}

/*CSS Reset*/
html{
    font-size: 100%;
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-size: 1.125rem; /*18px*/
    font-family: 'Poppins', sans-serif;
    font-weight: map-get($font-weights, regular);
    color: $dark-text;
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: $dark-text;
    font-weight: map-get($font-weights, semi-medium);
}

a{
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

a:focus{
    outline: none;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*===========SECTION STYLING===========*/
.section-padding{
    padding: 3.75rem 0; /*60px*/
}

.section-title {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 3.75rem; /*60px*/
}
.section-title h2 {
    font-size: 3.125rem; /*50px*/
    font-weight: bold;
    color: #262626;
    letter-spacing: 10px;
    font-family: 'Lobster', cursive;
}

.section-title h2::after {
    content: "";
    border-bottom: 2px solid #262626;
    display: block;
    width: 50%;
    margin: 0.625rem auto; /*10px*/
}

.button{
    border: none;
    height: auto;
    color: #fff;
    background: linear-gradient(#00c6ff, #0072ff);
}
