/***************main tag Styles***************/
.main {

    svg{
        font-size: 0.80rem;
    }

    .table th, .table td{
        font-size: 0.80rem !important;
        text-align: center;
    }

}

select{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



/***************DataTable Styles***************/
table.dataTable thead th,
table.dataTable thead td {
    border: none;
}

.table.dataTable thead{
    border: none;
    color: #fff;
    background: -webkit-linear-gradient(#00c6ff, #0072ff);
    background: -moz-linear-gradient(#00c6ff, #0072ff);
    background: -ms-linear-gradient(#00c6ff, #0072ff);
    background: -o-linear-gradient(#00c6ff, #0072ff);
    background: linear-gradient(#00c6ff, #0072ff);
}

table.dataTable tbody td {
    padding: 2px 5px 2px 0px;
}


.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

#patientAppointmentTable{
    font-size: 0.80rem !important;
    text-align: center;
}